# Python
__pycache__/
# *.py[cod]
# *$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# # Docker
# .dockerignore
# Dockerfile
# dockerfile
# *.yml
# *.yaml

# # MLflow data (will be mounted as volume)
# mlflow_data/
# mlflow/

# # Git
# .git/
# .gitignore

# # Environment files
# .env
# .env.*

# Logs
*.log

# # OS
# .DS_Store
# Thumbs.db
